body {
	background-color: rgb(14, 14, 14);
	font-family: sans-serif;
}

#anime__listings {
	margin: 0 60px;
	width: 100%;
}

.trending h1 {
	color: #e5e5e5;
	font-size: 1.4vw;
}

.anime__cards {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
