body {
	background-color: rgb(14, 14, 14);
	font-family: sans-serif;
}

#anime__listings {
	width: 100%;
	margin-bottom: 25px;
}

#anime__listings h1 {
	margin-bottom: 8px;
	margin-left: 60px;
	color: #e5e5e5;
	font-size: 1.4vw;
}

.anime__cards {
	margin: 0 60px;
	padding-bottom: 25px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
