.search__input {
	margin-top: 25px;
	margin-left: 15px;
	position: relative;
}

.search__input h2 {
	color: #dedede;
}

.search__input input {
	padding-left: 60px;
}

#anime__input {
	border: 0.5px solid gray;
	border-radius: 7px;
	font-size: 25px;
	height: 40px;
	width: 30%;
	color: rgba(85, 87, 85, 0.867);
}

#anime__input:focus {
	outline: none;
}

.search__icon {
	position: absolute;
	left: 15px;
	top: 55px;
}
