#trending h1 {
	color: #e5e5e5;
	font-size: 1.4vw;
}
.test {
	width: 248px;
	height: 318px;
}

.card__listing {
	display: flex;
	justify-content: space-between;
}

img {
	width: 248px;
	height: 318px;
	object-fit: fill;
	box-shadow: 0 0 5px #fefefe;
	border-radius: 10px;
}
